<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>Status: <%= @status %></p>

<%= link_to "Edit task", edit_task_path  %>
<%= link_to 'Back to tasks list', tasks_path %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Do you want to delete #{@task.title}?"} %>


